
.ul_list {
   
    display: flex; 
    flex-wrap: wrap; 
}
h2{
    text-align: center;
    padding: 10px;
}
.ul_list .listitem{
    box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
    border-radius: 30px;
    padding: 50px;
    width: 250px;
    margin-left:100px;
    margin-bottom: 10px;
}
 .btn1,.btn2{
    color: white;
    background-color: rgb(224, 156, 32);
    padding: 10px;
 
    border-radius: 15px;
    margin-right: 10px;
 }